#Compose_Tweet {
  line-height: 0.2em;
}


main .new-tweet {

  background-color: #eee;
  border-color: #D3D3D3;
  border-width: 1px;
  border-style: solid;
   padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
}

#tweet-input {
  width: 100%;
  display: block;
  margin: auto;

}

#tweet-submit {
    margin-top: 0.05em;
    line-height: 1em;
   display: inline-block;
    margin-right:73.5%;

  }

#tweet-char {

  display: inline-block;
}